* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    width: 100%;

    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #3e5688;
    font-weight: bold;
}

main {
    width: 70%;
    min-width: 300px;
    text-align: center;

    margin: auto;
}


/*TABLE*/
#linksTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#linksTable th, #linksTable td {
    text-align: left;
    padding: 12px;
}

#linksTable tr {
    border-bottom: 1px solid #ddd;
}

#linksTable tr.header, #linksTable tr:hover {
    background-color: #f1f1f1;
}
